<!-- Begin Main -->
<div role="main" class="main">
	<!-- Begin Main Slide -->
	<%= render 'pages/partials/slider' %>
	<!-- End Main Slide -->

	<!-- Begin Advanced Search -->
	<%= render 'pages/partials/search' %>
	<!-- End Advanced Search -->
	
	<!-- Begin Featured -->
	<%= render 'pages/partials/featured' %>
	<!-- End Featured -->
	
	<!-- Begin Properties -->
	<%= render 'pages/partials/properties' %>
	<!-- End Properties -->
	
	<!-- Begin About -->
	<%= render 'pages/partials/about' %>
	<!-- End About -->
	
</div>
<!-- End Main -->


